#[aoc_generator(dayn)]
pub fn input_generator(input: &str) -> Vec<usize> {

}

#[aoc(dayn, part1)]
pub fn part1(input: &[usize]) -> usize {

}

// #[aoc(dayn, part2)]
// pub fn part2(input: &[usize]) -> usize {

// }
